.overlay
   width: 100vw
   height: 100vh
   position: fixed
   top: 0
   background-color: rgba(0,0,0,.4)
   display: flex
   justify-content: center
   z-index: 99
   align-items: center
.modal
   position: fixed
   padding: 40px
   border-radius: 15px
   background-color: #fff
   color: #000
   &-close
      position: absolute
      top: 0px
      right: 10px
      background-color: #fff
      svg
         fill: #808080
   &-title
      font-weight: bold
      font-size: 20px
      margin-bottom: 20px

.button_registrate
   margin-top: 0 !important
section
   h2
      font-size: 25px
      text-align: center
      margin-bottom: 40px
.button_cart
   margin-right: 40px
.button_registrate
   display: inline-block
   margin-right: 10px
   padding: 7px !important
   margin-top: 8px !important
.button
   background-color: #007ABB
   border-radius: 10px
   color: #fff
   border: none
   padding: 4px
   a
      color: #fff
   &:hover
      cursor: pointer
.counter
   position: absolute
   left: 17px
   top: 2px
   color: #fff
   font-size: 14px
   padding: 0 5px 0 5px
   border-radius: 100%
   background-color: #1E93E0
.css-1f5yofo
   nav
      ul
         li
            button
               color: #000 !important
      