.header
   display: flex
   justify-content: space-between
   color: #000
   position: relative
   border-bottom: 1px solid #f1f1f162
   padding-bottom: 10px
   &_dif
      background-color: #fff
   &__logo
      margin-top: 10px
      margin-left: 15px
      width: 20%
      img
         &::hover
            cursor: pointer
   &-nav
      width: 62%
      display: flex
      justify-content: flex-end
      text-align: center
      nav
         display: flex
         padding-top: 5px
         justify-content: space-between
         a
            margin-left: 60px
            margin-top: 10px
            text-decoration: none
            

   &__signIn
      padding-top: 5px
      margin-top: 10px
      margin-left: 10px
      color: #fff
      &:hover
         cursor: pointer
         
   &-nav__button
      display: inline-block !important
      width: 10%
      margin-top: 10px
      margin-right: 10px
.header-dif
   width: 62%
   display: flex
   justify-content: flex-end
   text-align: center
   nav
      display: flex
      padding-top: 5px
      justify-content: space-between
      a
         text-decoration: none
         color: #fff !important
         margin-left: 60px
         margin-top: 10px
.navbar-other__main
   text-align: center
   display: flex
   justify-content: flex-end
   width: 62%
   
   nav
      display: flex
      padding-top: 5px
      justify-content: space-between
      a
         margin-left: 60px
         margin-top: 10px
         text-decoration: none
         &:nth-child(5)
            margin-top: 15px
            padding-right: 5px