.header
   display: flex
   justify-content: space-between
   &-nav
      width: 76%
      vertical-align: middle

      text-align: center
      nav
         
         display: flex
         padding-top: 5px
         justify-content: space-between
         a
            text-decoration: none
            color: #000

   &__signIn
      padding-top: 5px
      &:hover
         cursor: pointer
         
   &-nav__button
      display: inline-block !important
      width: 10%