.product
   display: flex
   justify-content: space-between
   flex-wrap: wrap
   background-color: #fff
   border-radius: 10px
   padding: 30px 40px 30px 40px
   &-item
      margin-top: 20px
   &__select
      position: absolute
      top: 110px
      right: 540px
      select
         font-size: 18px
         padding: 5px
   &-search
      position: absolute
      top: 110px
      left: 540px
      input
         display: inline-block
      button
         display: inline-block
   &-header
      display: flex
      justify-content: space-around
      align-items: center
   &-category
      position: fixed
      padding: 30px
      background-color: #fff
      top: 200px
      left: 100px
      border-radius: 15px
   &-ul
      font-size: 25px
      li
         margin-top: 20px
         list-style: none
         &:hover
            cursor: pointer
            background-color: #b0d4f76c
            

   &__image
      img
         width: 248px
.product-fetch
   margin-top: 30px
   
